- var formatter = new Intl.NumberFormat("ru", {style: "currency", currency: "RUB", minimumFractionDigits: 2});

.document
  input(type="checkbox" id=i.date class="document-check")
  label(for=i.date class="document-mark")
    .document-header
      p=i.date
      p Документов: #[span=i.documentQuantity] (#[span=formatter.format(i.documentSum)])
  .hidden
    for o in i.dateOperations 
      include operation.pug
