.product-wrapper
  .image-wrapper
    if p.image
      img(src=p.image onerror="src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg'")
    else 
      img(src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg")
  .product-name-wrapper
    .product-name=p.name
    .product-sum
      p #[span=p.quantity] шт х #[span=formatter.format(p.price)]
      p #[span=formatter.format(p.quantity*p.price)]