mixin expandable_checkbox_list(ecl_label, ecl_checks)
	.expandable-checkbox-list 
		.expandable-checkbox-list__title=ecl_label
			.expandable-checkbox-list__icon 	
				<svg height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg> 
		.expandable-checkbox-list__checks-wrapper 
			each check in ecl_checks
				+custom_checkbox(check.id, check.text)
