- var links = {'Colors & type':'colors_and_type.html',  'Form elements' : 'form.html', 'Cards' : 'cards.html','Headers and footers' : 'headers.html'}

main.content 
	ul
		each link, title in links 
			li.link
				a(href=link)=title 