main.content.flex-row.jc-space_between 
	.flex-column.w-30
		+text_field('text field', 'Email')
		.mt-20
			+dropdown('dropdown', 'Сколько гостей', ['Взрослые', 'Дети', 'Младенцы'])
		.flex-row.mt-20
			.mr-20 
				+input_date('date dropdown', 'date_1')
			+input_date('date dropdown', 'date_2')
		.mt-20
			+subscription('subscription text field', 'Email')
		.mt-20
			+dropdown('dropdown', 'Удобства', ['Спальни', 'Кровати', 'Ванные комнаты'])
		.mt-20 
			+expandable_checkbox_list('expandable checkbox list', [{'id': 'check_breakfast', 'text' : 'Завтрак'}, {'id': 'check_table', 'text' : 'Письменный стол'}, {'id': 'check_chair', 'text' : 'Стул для кормления'}, {'id': 'check_bed', 'text' : 'Кроватка'}, {'id': 'check_tv', 'text' : 'Телевизор'}, {'id': 'check_shampoo', 'text' : 'Шампунь'}])
		.mt-60
			+text_tile('svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/></svg', 'Комфорт', 'Шумопоглощающие стены')
			+text_tile('svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15 11V5l-3-3-3 3v2H3v14h18V11h-6zm-8 8H5v-2h2v2zm0-4H5v-2h2v2zm0-4H5V9h2v2zm6 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V9h2v2zm0-4h-2V5h2v2zm6 12h-2v-2h2v2zm0-4h-2v-2h2v2z"/></svg', 'Удобство', 'Окно в каждой из спален')
	.flex-column.w-30
		section.section.mb-40
			.section__title.mb-20 Checkbox Buttons
			+custom_checkbox('smoking', 'Можно курить')
			+custom_checkbox('pets', 'Можно с питомцами')
			+custom_checkbox('guests', 'Можно пригласить гостей (до 10 человек)')
		section.section.mb-40
			.section__title.mb-20 Radio Buttons
			.flex-row
				.mr-20
					+radio_button('sex', 'male', 'Мужчина')
				+radio_button('sex', 'female', 'Женщина')
		section.section.mb-40
			.section__title.mb-20 Toggle
			+toggle('offers', 'Получать спецпредложения')
		section.section.mb-40
			.section__title.mb-20 like button
			+like_button(2)
		section.section.mb-40
			.section__title.mb-20 rate button
			.flex-row
				.mr-20
					+rate_button('first')
				+rate_button('second')
		section.section.mb-40
			.section__title.mb-20 rich Checkbox Buttons 
			+rich_checkbox('corridor', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
			+rich_checkbox('immobility', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.')
	.flex-column.w-30
		section.section.mb-40
			.section__title Range Slider
			+range_slider('5 000₽ - 10 000₽')
		section.section.mb-40
			.section__title.mb-20 buttons
			.flex-row.mb-30
				.mr-20
					+custom_button('violet', 'click me', false)
				.mr-20 
					+custom_button('bordered', 'click me', false)
				.mr-20 
					+custom_button('texted', 'click me', false)
			+custom_button('huge_button', 'перейти к оплате', true)
		section.section.mb-40
			.section__title.mb-20 pagination
			+pagination(3, '1 – 3 из 100+ вариантов аренды')
		section.section.mb-40
			.section__title.mb-20 bullet list
			+bullet_list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
		.mb-10
			+img_tile('murad.jpg', 'Мурад Сарафанов', '5 дней назад')
		.flex-row 
			.mr-10
				+like_button(12)
			.plain-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
