.block {
  width: 70px;
  height: 70px;
  border-radius: 6px;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: $dark-shade-100;
  }

  &__color {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
  }

  &-ml {
    margin-left: 40px;
  }

  &-align_center {
    justify-content: center;
  }

  &-mb {
    margin-bottom: 20px;
  }
}

.headers {
  &__teg {
    &-mr-30 {
      margin-right: 30px;
    }
  }

  &-mb {
    margin-bottom: 51px;
  }
}

.pr-10 {
  padding-right: 10%;
}
