.block {
  width: 70px;
  height: 70px;
  border-radius: 6px;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: $dark-shade-100;
  }

  &__color {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
  }

  &-ml {
    margin-left: 40px;
  }

  &-align_center {
    justify-content: center;
  }

  &-mb {
    margin-bottom: 20px;
  }
}

.headers {
  &__teg {
    min-width: 65px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: $dark-shade-25;

    &-mr-30 {
      margin-right: 30px;
    }

    &-h1 {
      font-size: 24px;
      line-height: 29px;
    }

    &-h2 {
      font-size: 19px;
      line-height: 23px;
    }

    &-h3 {
      font-size: 12px;
      line-height: 15px;
    }

    &-body {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &-mb {
    margin-bottom: 51px;
  }

  &__text {
    color: $dark-shade-100;
    font-style: normal;

    &-h1 {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
    }

    &-h2 {
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
    }

    &-h3 {
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
    }

    &-body {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: $dark-shade-75;
    }
  }
}

.pr-10 {
  padding-right: 10%;
}
