doctype html
html(lang="ru")
  head
    title Системные технологии | Тестовое задание JS
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include style/style.css
      include style/document.css
      include style/operation.css
      include style/product.css
  body
    .wrapper
      for i in base
        include modules/document.pug