.like-button {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;

  &__icon {
    width: 10px;
    height: 10px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(31, 32, 65, 0.25);
  }

  &:active,
  &:hover {
    border: 1px solid #bc9cff;

    & > .like-button__icon {
      background-image: url("../img/filled_heart.svg");
    }

    & > .like-button__text {
      color: #bc9cff;
    }
  }
}
