#search_input__wrapper {
  min-width: 30%;
  max-width: 90%;
  box-sizing: border-box;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 10px;
  margin-bottom: 20px;
}

#search_input__button {
  width: 30px;
  height: 30px;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search_input__input {
  display: flex;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding-left: 2%;
}
