#userList__wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  position: relative;
}
#userList__nameInpt {
  border: 1px solid black;
  outline: none;
  width: 200px;
  height: 4rem;
  padding-left: 15px;
  padding-right: 50px;
  font-size: 1rem;
  border-radius: 3px;
}
#nuserList__ameInpt:hover {
  border-radius: 10px;
  transition: all ease-in-out 0.7s;
}
#userList__nameInpt:not(:hover) {
  border-radius: 3px;
  transition: all ease-in-out 0.7s;
}
#userList__clearInpt {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 15%;
  left: 225px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-list__icon {
  width: 20px;
  height: 20px;
}

.loader {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 6px solid #000;
  border-left-color: #333;
  border-bottom-color: #555;
  border-right-color: transparent;
  border-radius: 100%;
  -webkit-animation: loader 0.5s infinite linear;
  -moz-animation: loader 0.5s infinite linear;
  animation: loader 0.5s infinite linear;
  top: 340px;
  left: 48%;
}
@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
#userList__table__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
}
table {
  width: 100%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
}
thead {
  font-weight: 600;
}
.userList__table__user_photo__wrapper {
  width: 4rem;
  height: 4rem;
  position: relative;
  box-sizing: border-box;
}
.userList__table__user_photo {
  width: calc(4rem - 4px);
  height: calc(4rem - 6px);
  top: 2px;
  right: 2px;
  position: absolute;
}
.userList__table__user_photo:hover,
.userList__table__user_photo:focus,
.userList__table__user_photo:active {
  width: calc(4rem + 16px);
  height: calc(4rem + 18px);
  top: -8px;
  right: -9px;
  border: 1px solid black;
  z-index: 2;
}
.userList__table__email {
  word-wrap: break-word;
  position: relative;
}
.userList__table__delete-user,
.userList__table__userInfo {
  visibility: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(235, 232, 232);
}
.userList__table__delete-user {
  right: 4%;
  top: 15%;
}
.userList__table__userInfo {
  right: 33%;
  top: 15%;
  text-decoration: none;
}
.userList__table__delete-user:hover,
.userList__table__delete-user:active,
.userList__table__delete-user:focus,
.userList__table__userInfo:hover,
.userList__table__userInfo:active,
.userList__table__userInfo:focus,
#userList__clearInpt:hover,
#userList__clearInpt:focus,
#userList__clearInpt:active {
  background-color: black;
  fill: #fff;
}
tr:hover .userList__table__delete-user,
tr:hover .userList__table__userInfo {
  visibility: visible;
}
#userList__table__no_results {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#userData {
  box-sizing: border-box;
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
#userData input {
  border: 1px solid black;
  outline: none;
  height: 2rem;
  padding-left: 15px;
  font-size: 1rem;
  border-radius: 3px;
  margin-bottom: 10px;
}
#userData button {
  padding: 10px 25px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}
#userData button:hover,
#userData button:active,
#userData button:focus {
  color: white;
  background-color: #000;
}

@media (min-width: 768px) {
  #userList__clearInpt {
    top: 20%;
  }
  .userList__table__delete-user {
    top: 18%;
  }
  .userList__table__userInfo {
    right: 15%;
    top: 18%;
  }
}

@media (min-width: 1024px) {
  #userList__clearInpt {
    top: 23%;
  }
  .userList__table__delete-user {
    top: 22%;
  }
  .userList__table__userInfo {
    right: 13%;
    top: 22%;
  }
}

@media (min-width: 1440px) {
  #userList__clearInpt {
    top: 25%;
  }
  .userList__table__delete-user {
    top: 24%;
  }
  .userList__table__userInfo {
    right: 10%;
    top: 24%;
  }
}

@media (min-width: 2560px) {
  #userList__clearInpt {
    top: 25%;
  }
  .userList__table__delete-user {
    top: 25%;
  }
  .userList__table__userInfo {
    right: 9%;
    top: 25%;
  }
}
