#listWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
ul {
  position: relative;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}
.listGroup {
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.listGroup + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.listGroup + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.element + label::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 3;
  position: absolute;
  border-top: 2px solid black;
  border-left: 2px solid black;
  left: 15px;
  transform: rotate(135deg);
}
.element:checked + label::after {
  transform: rotate(225deg);
}

.listGroup:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("../../assets/mark.svg");
}

.listGroup:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}
.listGroup:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.listGroup:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.listGroup:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
.listGroup:disabled + label::before {
  background-color: #e9ecef;
}
li {
  width: 90%;
  list-style-type: none;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.itemBoxWrapper {
  display: flex;
}
.itemBox {
  border: none;
  outline: none;
  width: 17px;
  height: 17px;
  margin-left: 15px;
}
.itemBox > input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.listGroup:checked + label + .hidden {
  display: flex;
  flex-direction: column;
}
.listGroup:not(:checked) + label + .hidden {
  display: none;
}
.itemBoxWrapper > input {
  width: 30px;
  border: none;
  outline: none;
}
#dot {
  width: 0.99em;
  height: 0.99em;
  position: absolute;
  border-radius: 0.25em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 42% 80%;
  top: 1px;
  left: 41px;
  background-image: url("../../assets/dot.svg");
}
