.room-search.flex-column
	.room-search__title Найдём номера под ваши пожелания
	.flex-row
		+input_date('прибытие', 'arrive')
		+input_date('выезд', 'departure')
	.flex-column 
		label.room-search__label гости
		select.room-search__select
			option сколько гостей
			option(value="1") 1
			option(value="2") 2
			option(value="3") 3
			option(value="4") 4
			option(value="5") 5

			


