@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

#wrapper {
  width: 100%;
  padding: 2% 4%;
  box-sizing: border-box;
  background-color: #ecf1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search_input__wrapper {
  display: flex;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 15px;
}
#search_input__button {
  width: 20px;
  height: 20px;
  border-right: 1px solid black;
}
#search_input__input {
  border: none;
  outline: none;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 0.8rem;
}

#cards__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card__wrapper {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 10px;
  background-color: white;
}
.card__header {
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: #81b5ef;
}
.card__text {
  font-size: 0.7rem;
  text-transform: capitalize;
}
.card__more {
  font-size: 0.5rem;
}

.loader {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 6px solid #000;
  border-left-color: #333;
  border-bottom-color: #555;
  border-right-color: transparent;
  border-radius: 100%;
  -webkit-animation: loader 0.5s infinite linear;
  -moz-animation: loader 0.5s infinite linear;
  animation: loader 0.5s infinite linear;
  top: 60px;
  left: 48%;
}
@-webkit-keyframes loader {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes loader {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
  .card__wrapper {
    width: 30%;
  }
}
@media (min-width: 1440px) {
  html,
  body {
    font-size: 18px;
  }
  .card__wrapper {
    width: 23%;
  }
}
