- var title = 'Cards'
- var header_color = 'header-grey';

html 
	include html/head.pug
	body
		include html/mixins/input_date.pug
		include html/mixins/dropdown.pug
		include html/mixins/custom_button.pug
		include html/mixins/text_field.pug
		include html/mixins/radio_button.pug
		include html/mixins/masked_text_field.pug
		include html/mixins/toggle.pug
		include html/mixins/card_order_title.pug
		include html/mixins/room_card.pug
		include html/mixins/rate_button.pug

		.wrapper 
			include html/header.pug
			include html/main_cards.pug