- var title = 'Cards'
- var header_color = 'header-grey';

html 
	include html/head.pug
	body
		include html/mixins/input_date.pug

		.wrapper 
			include html/header.pug
			include html/main_cards.pug