- var title = 'Form elements'

html 
	include html/head.pug

	body
		include html/mixins/text_field.pug
		include html/mixins/dropdown.pug
		include html/mixins/input_date.pug
		include html/mixins/subscription.pug
		include html/mixins/expandable_checkbox_list.pug
		include html/mixins/custom_checkbox.pug
		include html/mixins/text_tile.pug
		include html/mixins/radio_button.pug
		include html/mixins/toggle.pug
		include html/mixins/like_button.pug
		include html/mixins/rate_button.pug
		include html/mixins/rich_checkbox.pug
		include html/mixins/range_slider.pug
		include html/mixins/custom_button.pug
		include html/mixins/pagination.pug
		include html/mixins/bullet_list.pug
		include html/mixins/img_tile.pug
		include html/mixins/masked_text_field.pug

		.wrapper 
			include html/header.pug
			include html/main_forms.pug
			